{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <h2>{{ 'natural' }}</h2>
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>Culture and the arts</li>
                <li>Geography and places</li>
                <li>Health and fitness</li>
                <li>History and events</li>
                <li>Human activities</li>
                <li>Mathematics and logic</li>
                <li>Natural and physical sciences</li>
                <li>People and self</li>
                <li>Philosophy and thinking</li>
                <li>Religion and belief systems</li>
                <li>Society and social sciences</li>
                <li>Technology and applied sciences</li>
            </ul>
        </div>
    </div>
{% endblock %}
